In [1]:
import pandas as pd

In [2]:
inspections = pd.read_csv("chicago_food_inspections.csv")
inspections

                                      Name             Risk
0               MARRIOT MARQUIS CHICAGO       Risk 1 (High)
1                              JETS PIZZA   Risk 2 (Medium)
2                               ROOM 1520      Risk 3 (Low)
3                MARRIOT MARQUIS CHICAGO      Risk 1 (High)
4                            CHARTWELLS       Risk 1 (High)
...                                    ...              ...
153805                         WOLCOTT'S      Risk 1 (High)
153806     DUNKIN DONUTS/BASKIN-ROBBINS     Risk 2 (Medium)
153807                           Cafe 608     Risk 1 (High)
153808                        mr.daniel's     Risk 1 (High)
153809                         TEMPO CAFE     Risk 1 (High)

[153810 rows x 2 columns]

In [3]:
inspections["Name"].head()

0     MARRIOT MARQUIS CHICAGO
1                    JETS PIZZA
2                     ROOM 1520
3      MARRIOT MARQUIS CHICAGO
4                  CHARTWELLS
Name: Name, dtype: object

In [4]:
inspections["Name"].head().values

array([' MARRIOT MARQUIS CHICAGO   ', ' JETS PIZZA ', '   ROOM 1520 ',
       '  MARRIOT MARQUIS CHICAGO  ', ' CHARTWELLS   '], dtype=object)

In [5]:
inspections["Name"].str.lstrip().head()

0    MARRIOT MARQUIS CHICAGO
1                   JETS PIZZA
2                    ROOM 1520
3     MARRIOT MARQUIS CHICAGO
4                 CHARTWELLS
Name: Name, dtype: object

In [6]:
inspections["Name"].str.rstrip().head()

0      MARRIOT MARQUIS CHICAGO
1                   JETS PIZZA
2                    ROOM 1520
3      MARRIOT MARQUIS CHICAGO
4                   CHARTWELLS
Name: Name, dtype: object

In [7]:
inspections["Name"].str.strip().head()

0    MARRIOT MARQUIS CHICAGO
1                 JETS PIZZA
2                  ROOM 1520
3    MARRIOT MARQUIS CHICAGO
4                 CHARTWELLS
Name: Name, dtype: object

In [8]:
inspections["Name"] = inspections["Name"].str.strip()

In [10]:
inspections.columns

Index(['Name', 'Risk'], dtype='object')

In [11]:
for column in inspections.columns:
    inspections[column] = inspections[column].str.strip()

In [12]:
inspections["Name"].str.lower().head()

0    marriot marquis chicago
1                 jets pizza
2                  room 1520
3    marriot marquis chicago
4                 chartwells
Name: Name, dtype: object

In [13]:
inspections["Name"].str.capitalize().head()

0    Marriot marquis chicago
1                 Jets pizza
2                  Room 1520
3    Marriot marquis chicago
4                 Chartwells
Name: Name, dtype: object

In [14]:
inspections["Name"].str.title().head()

0    Marriot Marquis Chicago
1                 Jets Pizza
2                  Room 1520
3    Marriot Marquis Chicago
4                 Chartwells
Name: Name, dtype: object

In [18]:
inspections["Risk"].head()

0      Risk 1 (High)
1    Risk 2 (Medium)
2       Risk 3 (Low)
3      Risk 1 (High)
4      Risk 1 (High)
Name: Risk, dtype: object

## String slicing and character replacement

In [20]:
inspections["Risk"].unique()

array(['Risk 1 (High)', 'Risk 2 (Medium)', 'Risk 3 (Low)', 'All', nan],
      dtype=object)

In [21]:
inspections = inspections.dropna(subset=["Risk"])

In [22]:
inspections["Risk"].unique()

array(['Risk 1 (High)', 'Risk 2 (Medium)', 'Risk 3 (Low)', 'All'],
      dtype=object)

In [23]:
inspections = inspections = inspections.replace(
    to_replace = "All", value = "Risk 4 (Extreme)"
)

In [24]:
inspections["Risk"].unique()

array(['Risk 1 (High)', 'Risk 2 (Medium)', 'Risk 3 (Low)',
       'Risk 4 (Extreme)'], dtype=object)

In [26]:
inspections["Risk"].str.slice(5,6).head()

0    1
1    2
2    3
3    1
4    1
Name: Risk, dtype: object

In [28]:
inspections["Risk"].str[5:6].head()

0    1
1    2
2    3
3    1
4    1
Name: Risk, dtype: object

In [29]:
inspections["Risk"].str.slice(8).head()

0      High)
1    Medium)
2       Low)
3      High)
4      High)
Name: Risk, dtype: object

In [30]:
inspections["Risk"].str.slice(8,-1).head()

0      High
1    Medium
2       Low
3      High
4      High
Name: Risk, dtype: object

In [31]:
inspections["Risk"].str[8:-1].head()

0      High
1    Medium
2       Low
3      High
4      High
Name: Risk, dtype: object

In [32]:
inspections["Risk"].str.slice(8).str.replace(")","").head()

/var/folders/c1/2ltzp02n15z_6jjqlpm151gc0000gn/T/ipykernel_40174/2452849031.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  inspections["Risk"].str.slice(8).str.replace(")","").head()

0      High
1    Medium
2       Low
3      High
4      High
Name: Risk, dtype: object